{% extends "base.html" %}

{% block content %}
<h2>Create New Contract</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.party_one.label }}
        {{ form.party_one(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.party_two.label }}
        {{ form.party_two(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.terms.label }}
        {{ form.terms(class="form-control", rows=10) }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
